<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if signed_in? %>
      <%= link_to "Create post", new_post_path %>
  		<%= link_to "Sign out", signout_path, method: :delete %>
  	<% else %>
      <%= link_to "Sign in", signin_path %>
  	<% end %>
    <%= yield %>
  </body>
</html>
